_target_: src.nn.models.trm.TRMModule
_recursive_: false  # Prevent recursive instantiation of nested configs

ffn_expansion: ${model_tuning.ffn_expansion}
hidden_size: ${model_tuning.hidden_size}
num_layers: ${model_tuning.num_layers}
N_supervision: ${model_tuning.N_supervision}
N_supervision_val: ${model_tuning.N_supervision_val}
learning_rate: ${model_tuning.learning_rate}
H_cycles: ${model_tuning.H_cycles}
L_cycles: ${model_tuning.L_cycles}
learning_rate_emb: ${model_tuning.learning_rate_emb}
weight_decay: ${model_tuning.weight_decay}
halt_exploration_prob: ${model_tuning.halt_exploration_prob}
warmup_steps: ${model_tuning.warmup_steps}
num_heads: ${model_tuning.num_heads}
puzzle_emb_dim: ${model_tuning.puzzle_emb_dim}
puzzle_emb_len: ${model_tuning.puzzle_emb_len}
rope_theta: ${model_tuning.rope_theta}
pos_emb_type: ${model_tuning.pos_emb_type}
lr_min_ratio: ${model_tuning.lr_min_ratio}
use_sigreg: ${model_tuning.use_sigreg}
use_mlp: ${model_tuning.use_mlp}
attn_gate_type: ${model_tuning.attn_gate_type}
output_dir: None

# Should be set from datamodule
num_puzzles: 0  
batch_size: 0
pad_value: 0
max_grid_size: 0 
vocab_size: 0
seq_len: 0

